* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-color: #000000;
  --header-up-color: #2c4059;
  --header-dowm-color: #ff8b00;
  --header-menu-color: #c44237;
  --header-banner-color: #fed700;

  --articles-background-color: #4e4e6a;
  --article-color: #1f6cb0;
  --navegacion-color: #71a3c4;
  --publicidad-background-color: #f63f51;

  --pie-color: #f0e78c;

  --text1-color: #020502;
  --text2-color: #211105;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
}

header,
.container,
footer {
  background-color: var(--container-color);
  max-width: 1200px;
  padding: 30px;
}

header,
.container {
}

.header-up {
  background-color: var(--header-up-color);
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
}

#logo,
.nav,
.social {
  background-color: var(--header-menu-color);
  padding: 30px;
}

#logo,
.social {
  flex: 1;
}

.nav {
  flex: 2;
}

.header-down {
  background-color: var(--header-dowm-color);
  padding: 30px;
}

.banner {
  background-color: var(--header-banner-color);
  padding: 20px;
}

.container {
  display: flex;
  gap: 30px;
}

.right-container {
  flex: 2;
  background-color: var(--articles-background-color);
  padding: 30px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.article {
  background-color: var(--article-color);
  flex-basis: calc(50% - 15px);
  padding: 20px;
}

.navegacion {
  background-color: var(--navegacion-color);
  padding: 20px;
}

.publicidades {
  background-color: var(--publicidad-background-color);
  flex: 1;
  padding: 30px;
}

.publicidad {
  background-color: var(--header-banner-color);
  margin-bottom: 20px;
  padding: 20px;
}

.pie {
  background-color: var(--pie-color);
  padding: 30px;
}

/* Tablet */
@media screen and (max-width: 767px) {
  .header-up {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .articles {
    flex-direction: column;
  }

  .navegacion {
    margin-left: 0;
  }
}
